.p_member_t{
    height: 70px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 0px;
}
.p_member_m{  
    text-align: center;
    font-size: 30px;
    height: 60px;
    line-height: 30px;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: monospace;
    color: #f3163a;
}
.qys_member_center{text-align: center;}
.qys_my_product{
    border-top: 1px solid #efefef;
    margin-top: 10px;
    padding: 10px 0px;
}
.one-half-responsive{
    line-height: 25px;
    margin-top: 10px;
    border-top: 1px solid #efefef;
    padding-top: 10px;
}
.table tr td{
    word-break: break-all;
}
.padding15px{
    padding: 0px 15px;
}
.panel-p{
    margin-bottom: 0px;
}